 .u-section-1 {
  background-image: none;
  min-height: 779px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  height: auto;
  min-height: 779px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 241px;
  height: 241px;
  margin: 219px auto 0 150px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 322px;
  height: 322px;
  margin: -392px 84px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 242px;
  height: 242px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(24.85deg);
}

.u-section-1 .u-group-2 {
  width: 746px;
  min-height: 804px;
  height: auto;
  margin: -452px auto 0 -588px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: 391px 304px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-style: italic;
  margin: 27px 290px 0 0;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 575px;
  height: 566px;
  margin: -611px -166px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 441px;
  height: 423px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(24.17deg);
}

.u-section-1 .u-image-4 {
  width: 115px;
  height: 141px;
  margin: -507px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 440px auto 0 0;
  padding: 9px 59px 9px 58px;
}

.u-section-1 .u-image-5 {
  width: 300px;
  height: 300px;
  margin: -413px 120px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -8px 463px 0 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 175px;
    height: 175px;
    margin-top: 289px;
    margin-left: 126px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 235px;
    height: 235px;
    margin-top: -343px;
    margin-right: 36px;
  }

  .u-section-1 .u-image-2 {
    width: 177px;
    height: 177px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -382px;
    margin-left: -482px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 409px;
    height: 378px;
    margin-top: -553px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-3 {
    animation-timing-function: ease;
    width: 380px;
    height: 346px;
    transform: translateX(-50%) translateY(-50%) rotate(5.08deg);
  }

  .u-section-1 .u-image-4 {
    margin-top: -370px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-image-5 {
    width: 255px;
    height: 255px;
    margin-top: -402px;
    margin-right: 70px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -12px;
    margin-right: 413px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 613px;
  }

  .u-section-1 .u-group-1 {
    width: 410px;
    min-height: 613px;
    margin-top: -1px;
    margin-right: calc(((100% - 720px) / 2) + -52px);
    margin-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 113px;
    height: 113px;
    margin-top: 264px;
    margin-right: 136px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 159px;
    height: 159px;
    margin-top: -231px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 119px;
    height: 119px;
  }

  .u-section-1 .u-group-2 {
    min-height: 637px;
    margin-top: -328px;
    margin-left: -386px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 19px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 216px;
    margin-right: 403px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
    margin-right: 352px;
    margin-left: 13px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 235px;
    height: 252px;
    margin-top: -345px;
    margin-right: 168px;
  }

  .u-section-1 .u-image-3 {
    width: 215px;
    height: 234px;
  }

  .u-section-1 .u-image-4 {
    width: 69px;
    height: 69px;
    margin-top: -313px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 373px;
  }

  .u-section-1 .u-image-5 {
    width: 158px;
    height: 158px;
    margin-top: -273px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -23px;
    margin-right: 271px;
    margin-left: 82px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 556px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 287px);
    min-height: 556px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -222px;
    margin-right: 24px;
  }

  .u-section-1 .u-image-2 {
    width: 120px;
    height: 120px;
  }

  .u-section-1 .u-group-2 {
    width: 618px;
    min-height: 580px;
    margin-top: -326px;
    margin-left: -281px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 308px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
    margin-right: 258px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 252px;
    margin-top: -307px;
    margin-right: auto;
    margin-left: 169px;
  }

  .u-section-1 .u-image-3 {
    width: 233px;
    height: 232px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -260px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 327px;
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -263px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -27px;
    margin-right: 205px;
    margin-left: 75px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-1 {
    width: 236px;
    min-height: 515px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 81px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -194px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 287px;
    min-height: 597px;
    margin-top: -247px;
    margin-right: -51px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 341px;
    margin-right: 201px;
    margin-left: -191px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -287px;
    margin-left: -191px;
  }

  .u-section-1 .u-image-3 {
    width: 232px;
  }

  .u-section-1 .u-image-4 {
    width: 47px;
    height: 47px;
    margin-top: -275px;
    margin-left: -164px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 365px;
    margin-left: -127px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -365px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 59px;
    margin-right: 50px;
    margin-left: 67px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 458px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/iphone-15-pro-max.webp");
  min-height: 458px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 105px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 332px 20px 0 0;
}

.u-section-2 .u-link-1 {
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 458px;
  background-image: url("images/iPhone-15-Pro-Burgandy-Feature_large.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 105px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 50px 20px 0 0;
}

.u-section-2 .u-link-2 {
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 87px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 87px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-link-2 {
    margin-top: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 66px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 66px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-link-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-image-2 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 719px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 31px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-image-2 {
    min-height: 261px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-link-2 {
    margin-top: 19px;
    margin-right: 269px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 39px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 638px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 112px 159px 0 106px;
}

.u-section-3 .u-text-2 {
  text-decoration: underline !important;
  margin: 21px 96px 0 106px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 638px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 35px 44px 0 252px;
}

.u-section-3 .u-image-1 {
  width: 206px;
  height: 206px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: 53px 44px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 433px;
  height: 398px;
  margin: -154px auto 0 -127px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 846px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 57px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 196px;
    margin-right: 38px;
    margin-left: 56px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 76px;
    margin-right: 8px;
    margin-left: 56px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 846px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 67px;
    margin-right: 21px;
    margin-left: 175px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-image-2 {
    width: 432px;
    height: 432px;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 34px;
    margin-right: 42px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 79px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 34px;
    margin-right: 20px;
    margin-left: 66px;
  }

  .u-section-3 .u-image-1 {
    width: 146px;
    height: 146px;
    margin-top: 20px;
    margin-right: 42px;
  }

  .u-section-3 .u-image-2 {
    width: 276px;
    height: 256px;
    margin-top: 26px;
    margin-right: 34px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 430px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -81px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 26px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 67px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 649px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 714px;
}

.u-section-4 .u-image-1 {
  width: 880px;
  height: 641px;
  margin: 73px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 423px;
  height: auto;
  margin: -650px auto 60px calc(((100% - 1140px) / 2) + 85px);
}

.u-section-4 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 131px 136px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 15px 103px 0 0;
}

.u-section-4 .u-link-1 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 667px;
  }

  .u-section-4 .u-image-1 {
    width: 694px;
    height: 481px;
    margin-top: 187px;
    margin-left: 346px;
  }

  .u-section-4 .u-group-1 {
    min-height: 475px;
    margin-top: -709px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 121px;
    margin-right: 128px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 25px;
    margin-left: 16px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 500px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 304px;
    margin-top: 196px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 510px;
    min-height: 381px;
    margin-top: -382px;
    margin-bottom: 1px;
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 13px;
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
    margin-right: -13px;
    margin-left: 103px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 26px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 338px;
    height: 250px;
    margin-top: 250px;
    margin-right: calc(((100% - 540px) / 2) + 15px);
  }

  .u-section-4 .u-group-1 {
    margin-top: -491px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
    margin-right: 175px;
    margin-left: 83px;
    width: 421px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 4px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 759px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 509px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 428px;
    margin-top: -690px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-link-1 {
    margin-top: 28px;
    margin-left: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1257px;
}

.u-section-5 .u-shape-1 {
  width: 255px;
  height: 296px;
  margin: 127px 227px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1049px;
  margin: -336px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 487px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-shape-2 {
  width: 429px;
  left: 61px;
  right: 0;
  top: 0;
}

.u-section-5 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 490px;
  height: 477px;
  margin: -159px -21px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 377px;
  height: 349px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(25.37deg);
}

.u-section-5 .u-text-1 {
  margin: -57px -156px 0 176px;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 0 -77px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 487px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-3 {
  margin: 261px 20px 0;
}

.u-section-5 .u-image-2 {
  width: 511px;
  height: 372px;
  margin: -354px auto 0 -76px;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 21px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 753px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-5 .u-group-1 {
  min-height: 683px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 174px 498px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 29px 461px 0 -104px;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 30px 461px 0 -85px;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 29px 537px 0 -48px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 54px auto 0 0;
  padding: 9px 59px 9px 58px;
}

.u-section-5 .u-image-3 {
  width: 727px;
  height: 409px;
  margin: -1497px -106px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-5 .u-shape-2 {
    width: 415px;
    left: 0;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 415px;
    height: 404px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 319px;
    height: 295px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 263px;
    margin-top: -362px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 774px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: auto;
  }

  .u-section-5 .u-text-5 {
    margin-right: 389px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 55px;
    margin-right: 482px;
    margin-left: -47px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 46px;
    margin-left: 80px;
  }

  .u-section-5 .u-image-3 {
    width: 576px;
    height: 362px;
    margin-top: -590px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-5 .u-shape-2 {
    width: 305px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 304px;
    height: 295px;
    margin-top: -97px;
    margin-right: -20px;
  }

  .u-section-5 .u-image-1 {
    width: 234px;
    height: 216px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 202px;
  }

  .u-section-5 .u-image-2 {
    width: 201px;
    height: 295px;
    margin-top: -295px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 169px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 147px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 281px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 372px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-image-2 {
    width: 338px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 211px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 211px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    margin-right: 85px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: 0;
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 268px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-2 {
    width: 283px;
    margin-top: -351px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 94px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 187px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 214px;
    margin-right: 0;
  }
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: url("images/40329.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 711px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 168px 0 0 610px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 365px;
  height: auto;
  margin: 103px -30px -42px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-2 {
  margin: 75px 20px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
  padding: 9px 59px 9px 58px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: 410px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 65px;
    margin-bottom: -69px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 74px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 98px;
    margin-right: -50px;
    margin-left: 240px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -17px;
    margin-right: -70px;
    margin-bottom: -18px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 191px;
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 97px;
    margin-left: 150px;
  }

  .u-section-6 .u-group-1 {
    min-height: 450px;
    margin-top: 218px;
    margin-right: -116px;
    margin-bottom: -273px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 54px;
    margin-right: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: -69px;
    margin-left: 69px;
  }

  .u-section-6 .u-group-1 {
    width: 269px;
    min-height: 54px;
    margin-top: -126px;
    margin-right: -50px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: -68px;
    margin-right: -42px;
    margin-left: 54px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 289px;
    margin-right: 32px;
    margin-bottom: -275px;
    padding-right: 9px;
    padding-left: 8px;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}